@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BJG';
  src: url('./fonts/bjg-pixel-brandon-james-greer.otf');
}

@font-face {
  font-family: 'alagard';
  src: url('./fonts/alagard.ttf');
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Animated button css, tailwind can't do some of the fancy stuff like box shadows so I'm keeing it here*/
button.animated-btn {
  font-weight: 600;
  color: #412f1e;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fffef0;
  border: 2px solid #716151;
  border-radius: 0.75em;
  transition: transform 0.15s;
  transform-style: preserve-3d;
}
button.animated-btn::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #bea271;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #716151;
  transform: translate3d(0, 0.75em, -1em);
  transition:
    transform 0.15s,
    box-shadow 0.15s;
}
button.animated-btn:hover {
  background: #fff6e9;
  transform: translate(0, 0.25em);
  color: rgb(154, 70, 18);
}
button.animated-btn:hover::before {
  box-shadow: 0 0 0 2px #716151;
  transform: translate3d(0, 0.5em, -1em);
}
button.animated-btn:active {
  background: #fff5e9;
  transform: translate(0em, 0.75em);
  color: rgb(91, 44, 15);
}
button.animated-btn:active::before {
  box-shadow:
    0 0 0 2px #716151,
    0 0 #fffce2;
  transform: translate3d(0, 0, -1em);
}

/* Pixelated card */
.card.pixelated {
  background: url('./assets/common/card_texture.png');
  background-size: contain;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: pixelated; /* Chrome and Edge */
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  border: 15px outset #716151;
}

